<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <!--<add key="Languages" value="de;es;ja;ru" />-->
    <add key="EnableAllOrigins" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=Ultra.MainDemo" />
  </connectionStrings>
</configuration>